:root {
  --clr-gold: #c59d5f;
  --clr-heading: #102a42;
  --clr-paragraph: #617d98;
  --clr-body: #f1f5f8;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 1rem;
  background-color: var(--clr-body);
  box-sizing: border-box;
}

.main-heading {
  color: var(--clr-heading);
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-inline: auto;
  width: fit-content;

  position: relative;
}

.main-heading::after {
  content: "";
  background-color: var(--clr-gold);
  width: 40%;
  height: 4px;
  bottom: -20%;
  left: 30%;
  position: absolute;
  display: block;
}
